code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
@font-face {
  font-family: "RobottoRegular";
  src: local("RobottoRegular"),
    url("./fonts/Robotto/Roboto-Regular.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "Roboto-Bold";
  src: local("Roboto-Bold"),
    url("./fonts/Robotto/Roboto-Bold.ttf") format("truetype");
  font-weight: bold;
}
